body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient( to bottom, #f4f786 , #a42354);
    
    
    
}

.main-container {
    width: 100%;
    min-height: 100vh;
     padding: 10px;
     
}
.note-cotainer {
    background:linear-gradient(to bottom,rgb(221, 154, 91) ,#ca6154 ) ;
    border: none;
    border-radius: 40px;
    max-width: 570px;
    margin : 100px auto 20px;
    padding: 40px 30px 70px;
    width: 100%;
     
}

#noteList {
    margin-top: 50px;
}
.note-cotainer #notesH1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
 
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title img {
    width: 45px;
    height: 45px;
    flex: 1;
    margin-left: 10px;
}

.inputNote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #62397a;
    padding-left: 10px;
    margin-bottom: 25px;
    width: 60%;
}


.inputNote #noteInput {
    padding: 10px ;
    flex: 1;
    outline: none;
    border: none;
    border-radius: 40px;
    background: transparent;
    color: #fff;
    
}

.inputNote .add {
    outline: none;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px;
    cursor: pointer;
    width: 100%;
  
}

.note ul li{
    list-style: none;
    user-select: none;
   
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 45px;
}

.note-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
  
    
}


 .checked {
    color :#c01a1a;
    font-weight: bold;
    text-decoration: line-through;
  
}




.deleteNote {
   border-radius: 30px;
   outline: none;
   border: none;
   cursor: pointer;
   position: absolute;
   margin: 0px 0 10px 400px;
   padding: 17px 27px;
   justify-content: center;
   bottom: -23px;
   transition: background-color 0.3s ease;
   font-weight: bold;
   -webkit-transition: background-color 0.3s ease;
   -moz-transition: background-color 0.3s ease;
   -ms-transition: background-color 0.3s ease;
   -o-transition: background-color 0.3s ease;
}





li p {
    margin-right: 10px;
}

.deleteNote:hover {
  
   background-color: #62397a;
   
}